@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
  width: 100%;
}

.hub-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #f4f4f4;
  width: 100%;
  height: 40px;

  span {
    text-decoration: underline 3px {
      color: $primary-color;
    }
    text-underline-offset: 10px;
  }
  span.language-name {
    text-decoration: none;
  }
}

ul {
  list-style: none;
  display: flex;
  margin-left: 40px;
  padding: 5px 10px;
  gap: 10px;

  li {
    a {
      text-decoration: none;
      color: #3d3d3d;
      font-size: 12px;
      font-weight: 500;
      display: inline-block;
      text-decoration: none;
      padding: 5px 10px;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #e0dfdf;
        cursor: pointer;
        border-radius: 50px;
      }

      &.no-hover,
      .no-hoverr {
        &:hover {
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}

.country-select {
  position: relative;
  display: inline-block;
}

.flag-dropdownbtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  padding: 10px 40px;
}

.flag-dropdown-content {
  display: none;
}
img {
  width: 25px;
  height: 25px;
}

i {
  font-size: 1.2rem;
}
.flag-btn .dropdown:hover .dropdown-content {
  display: block;
}

.flag-dropdown-content .dropdown-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #333;
  margin-right: 10px;

  &:hover {
    background-color: $secondary-color;
  }
}

.nav-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background-color: #fff;
}

.logo img {
  max-width: 100%;
  width: 200px;
  height: auto;
  margin-left: 30px;
}

.cta-btns {
  display: flex;
  margin-right: 20px;
  gap: 10px;

  .cta-1,
  .cta-2 {
    border-radius: 20px;
    padding: 8px 18px;
    cursor: pointer;

    &.cta-1 {
      background-color: #fff;
      border: 1px solid #020202;

      &:hover {
        background-color: $hover-color-3;
      }
    }
    &.cta-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      background-color: $tertiary-color;
      color: #fff;
      font-family: "Open Sans";

      &:hover {
        background-color: darken($tertiary-color, 10%);
      }
      i {
        font-size: 12px;
      }
    }
  }
}
//navigation wrapper
.navigation-wrapper {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 5px 10px;

  .left {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      width: 100px;
      height: auto;
    }
  }
}

.dropdown {
  position: relative;
  list-style: none;

  .dropdownbtn {
    text-decoration: none;
    color: $tertiary-color;
    font-size: $font-size-1;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }
  .dropdown-content {
    @include dropdown-content;
  }
}

//search-container

.flight-search-wrapper {
  background-color: $primary-color;
  padding-bottom: 10px;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.f-buttons {
  display: none;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;

  span {
    color: #fff;
    font-size: 14px;
    padding: 10px;
  }
}

.radio-options {
  display: flex;
  gap: 20px;
  border: none;
  padding: 0 20px;

  label {
    display: flex;
    align-items: center;
  }

  input {
    width: 20px;
    height: 20px;
  }
}
.search-quantity {
  border-radius: 8px;
  display: flex;
  font-size: 16px;

  span {
    font-size: 16px;
  }
}

.search-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 100px;
  margin: 0;
}
.search-container {
  flex: 2;
  border: none;
  border-radius: 50px;
  max-width: 250px;
  width: 100%;
  height: auto;
  margin: 0;

  .passenger {
    width: 200px;
  }

  h2 {
    font-size: $font-size-1;
    margin-bottom: 6px;
    margin-left: 10px;
    color: #fff;
  }
  .search-box {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    margin: 0;

    .search-input {
      width: 100%;
      padding: 15px 20px;
      font-size: $font-size-1;
      border-radius: 50px;
      border: 1px solid #ccc;

      &:focus-within {
        border-color: $secondary-color;
      }
    }

    .search-icons {
      display: flex;
      justify-content: space-between;
      gap: 8px;
      position: absolute;
      right: 20px;
      color: rgb(182, 181, 181);
      cursor: pointer;

      .fa-list,
      .fa-user-group,
      .fa-calendar-days {
        color: $tertiary-color;
      }
    }
  }
}
.search-btns {
  margin-top: 20px;

  i {
    font-size: 15px;
  }
}

.search-btn-1 {
  @include button-style($secondary-color, 15px 25px, #fff);
  cursor: pointer;
  margin: 0;
  border-radius: 50px;

  &:hover {
    background-color: darken($secondary-color, 10%);
    cursor: pointer;
    margin: 0;
  }
}

.search-btn-2 {
  @include button-style($button-color-2, 15px 25px, #000000);
  border-radius: 50px;

  &:hover {
    background-color: darken($button-color-2, 5%);
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
}
.hero-image img {
  width: 300px;
  height: 400px;
  max-width: 800px;
}
.slideshow .bottom-section {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active {
  opacity: 1;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.nav-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.nav-btn.active {
  background-color: black;
}

.herobtn {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 8%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  color: #4d4d4d;
  align-items: center;
  padding: 25px 10px;
  justify-content: center;
}

.herobtn:hover {
  background-color: #eea1bb;
  color: #ffffff;
}

/*locations*/
.airport-locations {
  flex-wrap: nowrap;
  background-color: #fff;
  width: 100%;

  i {
    @include heading(30px, $primary-color, bold, 1.5, true, center, center);
  }
}

.airport-dropdown button {
  display: none;
}
.airport-name {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 13px;
  padding: 10px;
  margin: 0 30px;

  span {
    background-color: $secondary-color;
  }

  button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

    span button {
      background-color: $secondary-color;
    }
  }
}

.table-section {
  display: flex;
  flex: 1;
  gap: 20px;
  padding: 0 40px;
  margin: 0 30px;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    text-align: left;
  }
  .wide-column {
    width: 70%;
  }

  .narrow-colum {
    width: 30%;
  }
}

tbody tr:hover {
  background-color: #c4cbe1;
  cursor: pointer;

  .no-hoverr {
    &:hover {
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

tbody {
  display: table-row-group;
}

.view-all-link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  cursor: pointer;
  margin-left: -100px;

  span {
    color: $secondary-color;
    font-size: 16px;
  }

  i {
    color: $secondary-color;
    font-size: 16px;
  }
}
table {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;

  .destination {
    color: $secondary-color;
    font-weight: bold;
  }
  .destination-date {
    color: $text-color-1;
    display: inline-block;
  }

  .price-was {
    color: $text-color-1;
  }
  .from-text {
    color: $text-color-1;
    font-weight: 100;
  }
  .price {
    color: $primary-color;
    font-weight: bold;
    display: inline-block;
  }
}
th {
  background-color: $primary-color;
  color: #fff;
  font-size: 18px;
  padding: 20px;
}

p {
  display: flex;
  align-items: end;
  background-color: #fff;
}

//disclaimer-text

.disclaimer-text {
  display: flex;
  justify-content: end;
  margin-right: 60px;
  padding: 10px 0;
  font-size: 12px;
}
//paypal container

.paypal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeefed;
  gap: 10px;
  margin: 10px 40px;

  a {
    font-size: 22px;
    text-decoration: none;
    color: #072f92;
  }

  img {
    display: flex;
    justify-content: center;
    width: 100px;
    height: auto;
    padding: 10px;
    margin: 10px 0;
  }

  button {
    border: none;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
    color: #072f92;
    cursor: pointer;
  }
}

//suggest desinations

.suggest-destinations {
  width: 100%;
  i {
    @include heading(30px, $primary-color, bold, 1.5, true, center, center);
  }
}

.suggest-imgs {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px 30px;
  gap: 20px;

  img {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .s-img-1,
  .s-img-2,
  .s-img-3,
  .s-img-4 {
    position: relative;

    button {
      position: absolute;
      bottom: 44px;
      left: 0px;
      background-color: $primary-color;
      padding: 15px;
      color: #fff;
      border: none;

      span {
        font-weight: bold;
        display: block;
      }
    }
  }
}

//offer section

.jet-offers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin: 20px 40px;
  border-radius: 20px;

  img {
    justify-content: center;
    width: 600px;
    height: auto;
    border-radius: 10px;
    margin: 30px;
  }

  .offer-table {
    width: 100%;
    max-width: 650px;
    height: 350px;
    border-collapse: collapse;
    background-color: #f9f9f9;
    border: none;
    border-spacing: 10px;

    th {
      text-align: left;
      border: none;
      background-color: #f9f9f9;
      color: #444;
      font-size: 20px;
      padding: 8px 10px;

      span {
        font-size: 12px;
        white-space: nowrap;
      }
    }
    th:first-child {
      width: 80%;
    }
    td {
      border-top: 2px solid #ddd;
      border-bottom: px solid #ddd;
      color: #444;
      font-size: 14px;
      padding: 8px 15px;

      .no-hoverr {
        &:hover {
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
    td:nth-child(2) {
      border-right: 1px solid #ddd;
    }
  }

  .fa-circle-check {
    color: green;
    display: flex;
    justify-content: center;
  }

  .fa-circle-xmark {
    color: #e0dfdf;
    display: flex;
    justify-content: center;
  }
}
tr:hover,
td:hover {
  background-color: inherit;
  cursor: inherit;
}

.table-all-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: $secondary-color;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.table-all-button:hover {
  $hover-color-4: lighten($secondary-color, 20%);
}

.view-all-dest {
  display: flex;
  justify-content: center;
  margin: 20px;
  background-color: $secondary-color;
  color: #fff;
  width: 100%;
  max-width: 350px;
  padding: 10px;
  margin-left: 20%;
  border-radius: 4px;
}
//packages section
.upgrade-section {
  i {
    @include heading(30px, $primary-color, bold, 1.5, true, center, center);
  }
}

.package-section {
  display: flex;
  justify-content: space-between;
  align-content: center;

  > * {
    flex: 1;
  }
}

.upgrade-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;

  img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
.table-pros {
  display: flex;
  justify-content: center;
  padding: 20px;

  i {
    font-size: 16px;
    color: #000000;
  }

  span {
    font-size: 16px;
  }
}
.pros-1 {
  display: flex;
  flex-direction: column;

  .pro {
    display: flex;
    align-items: center;

    i {
      color: green;
    }
  }
}
.upgrade-btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .upgrade-btn-1 {
    display: flex;
    justify-content: center;
    background-color: $secondary-color;
    color: #fff;
    width: 400px;
    padding: 10px 20px;
  }

  .upgrade-btn-2 {
    color: $secondary-color;
  }
}
.upgrade-section-2 {
  margin: 20px;

  img {
    width: 100%;
    max-width: 700px;
    height: auto;
  }
}

//explore section//

.explore-section {
  padding: 10px;

  .explore-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 30px;
  }
  img {
    width: 200px;
    height: auto;
  }

  .e-img-1 {
    position: relative;
    button {
      position: absolute;
      bottom: 4px;
      left: 0px;
      background-color: $primary-color;
      padding: 15px;
      color: #fff;
      border: none;

      span {
        font-weight: bold;
        display: flex;
      }
    }
  }
}

.fact-wrapper {
  display: flex;
  border: 1px solid #e0e0e0;
  margin: 20px;

  > * {
    flex: 1;
  }
}

.fact-info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .fact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      font-size: 14px;
      width: 500px;
    }
  }

  button {
    @include button-style($secondary-color, 15px 25px, #fff);
    cursor: pointer;
    margin: 10px;

    &:hover {
      background-color: darken($secondary-color, 10%);
      cursor: pointer;
    }
  }
}

.fact-img-section img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

//sign up section

.sign-up {
  margin: 40px;
  position: relative;

  img {
    display: block;
    height: 400px;
    width: 100%;
  }
}

.overlay-content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 25%;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  left: 15%;
  gap: 20px;
}

.sign-up-form {
  width: 600px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 40px;
  border-radius: 10px;

  h2 {
    font-size: 24px;
    color: #444;
    font-weight: 100;
  }

  p {
    color: #444;
    font-size: 16px;
    background-color: transparent;
    font-weight: 100;
  }
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;

  input {
    padding: 18px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
    position: relative;
  }

  button {
    padding: 18px 20px;
    background-color: $secondary-color;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 40px;
    bottom: px;
  }
}

.agree-text {
  padding: 10x;
  margin: 10px 20px;
  font-size: 13px;
}

//footer1

.footer-1 {
  width: 100%;
  height: 200px;
  background-color: $primary-color;
  color: #fff;
  padding: 20px;

  i {
    @include heading(30px, #fff, bold, 1.5, true, center, center);
  }
  p {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $primary-color;
    font-size: 14px;
    margin: 0 20px;
  }
}

//navigation container
.navigation-container {
  background-color: $secondary-color;
  width: 100%;
  height: auto;

  i {
    @include heading(30px, #fff, bold, 1.5, true, center, center);
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  background-color: $primary-color;
  gap: 10px;
}
.footer-dropdown {
  display: none;
}
.footer-content-1 {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: column;
  }
  hr {
    width: 1px;
    color: #4715c6;
  }

  a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
  }
}

.footer-2-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #203240;

  h1 {
    color: #fff;
  }
  h2 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
  }
  p {
    display: inline;
    white-space: normal;
    margin-bottom: 10px;
    color: #fff;
    background-color: #203240;
    font-size: 12px;
    line-height: 1.6;
  }
  a {
    text-decoration: none;
  }
}

.footer-2-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #203240;
  padding: 20px;
  gap: 10px;

  a {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
  }

  p {
    font-size: 12px;
    color: #fff;
    background-color: #203240;
    padding-bottom: 10px;

    span {
      font-size: 10px;
      color: #fc6;
      padding-top: 10px;
    }
  }
}
.footer-2-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamburger-menu {
  position: relative;
}

#hamburger-icon {
  font-size: 24px;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: none;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  z-index: 1000;
  background-color: $tertiary-color;
  overflow-y: auto;

  #sidebar.show {
    left: 0; 
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;

    li {
      border-bottom: 1px solid #d1d0d0;

      a {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        align-items: center;
        padding: 15px;
        color: #fff;
        text-decoration: none;
        font-size: 20px;

        &:hover {
          background-color: darken($color: $tertiary-color, $amount: 10%);
          border-radius: 0;
        }

        .icon {
          font-size: 20px;
        }
      }
    }
  }

  &.hide {
    display: none;
  }

 .install-app{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  gap: 10px;

  .playstore{
    padding: 10px;
  }
  .appstore{
    padding: 10px;
  }
 }
}

/*600px*/

/*MOBILE VERSION*/

@media only screen and (max-width: 600px) {
  #hamburger-icon {
    display: block;
    background-color: #fff;
  }
  .explore-section {
    padding: 10px 0;
  }
  .explore-img-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
    gap: 10px;

    .e-img-1 img {
      width: 200px;
      height: auto;
    }

    .hidden {
      display: none;
    }
  }

  .table-section {
    width: 100%;
    padding: 0 20px;
    margin: 0;

    .destination {
      display: block;
    }
  }

  .table-container {
    width: 100%;
    max-width: 1000px;
    padding: 0;

    .view-all-link {
      display: flex;
      margin-right: 100px;
      padding: 0;
    }
  }

  tbody {
    display: none;
  }

  .disclaimer-text {
    display: none;
  }

  .table-section {
    display: flex;
    flex-direction: column;
    margin: 0;

    .view-all-link {
      display: none;
    }

    th {
      cursor: pointer;
    }
  }

  .hero {
    width: 100%;
    height: 420px;
    overflow: hidden;
  }

  .navigation {
    bottom: 10px;
    left: 50%;
  }

  .nav-btn {
    width: 10px;
    height: 10px;
  }

  .paypal-container {
    display: flex;
    margin: 10px;
    padding: 0;

    img {
      width: 80px;
      height: auto;
    }

    a {
      font-size: 14px;
    }

    button {
      padding: 10px;
      font-size: 10px;
      margin-right: 40px;
    }
  }

  .suggest-destinations {
    padding: 10px;
  }
  .suggest-destinations i {
    font-size: 22px;
    padding-top: 20px;
    margin: 0;
  }
  .suggest-imgs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
    gap: 10px;

    img {
      width: 200px;
      height: auto;
      margin: 0;
      padding: 0;
    }

    button {
      position: absolute;
      bottom: 0px;
      top: 130px;
      left: 0px;
      width: 80px;
      height: 70px;
      z-index: 1;
    }

    &::-webkit-scrollbar {
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  }
  .flight-search-wrapper {
    height: 640px;

    .f-buttons {
      display: flex;
      margin: 0;
      padding: 0;
      height: 50px;

      .f-btn1 {
        width: 100%;
        max-width: 300px;
        margin: 0;
        background-color: $primary-color;
        border: none;
        color: #fff;
        align-items: center;
        padding: 10px;
        font-size: 18px;
      }

      .f-btn2 {
        width: 100%;
        max-width: 300px;
        margin: 0;
        background-color: $tertiary-color;
        border: none;
        color: #fff;
        align-items: center;
        padding: 10px;
        font-size: 18px;
      }
    }
  }

  .search-btns {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 15px;
  }
  .search-row {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 10px 20px;
    width: 100%;
    height: 100px;
    margin: 0;
  }

  .search-container {
    padding: 10px;
    width: 100%;
    max-width: 1050px;
    height: auto;

    .passenger {
      width: 100%;
      max-width: 1050;
    }
  }
  .nav-menu-container {
    padding: 10px;
  }
  .logo img {
    position: absolute;
    left: 50%;
    transform: translate(-100%);
    top: 70px;
  }

  .cta-btns {
    .cta-2 {
      border: none;
      background-color: green;

      .fa-caret-down {
        display: none;
      }
    }
    .cta-1 {
      display: none;
    }
  }

  .hub-wrapper {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    height: 50px;

    ul {
      margin-left: 0;
    }
  }
  .country-select {
    display: none;
  }

  .navigation-wrapper {
    display: none;
  }
  .logo img {
    max-width: 100%;
    width: 100px;
  }

  .explore-section i {
    font-size: 16px;
    display: flex;
    text-align: center;
  }

  .fact-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    margin: 20px;

    .fact-info {
      p {
        width: 400px;
      }
    }
  }

  .sign-up {
    margin: 10px;

    img {
      height: 350px;
    }
  }

  .overlay-content {
    top: 5%;
    font-size: 20px;
    left: 15%;
    gap: 20px;
  }

  .sign-up-form {
    position: absolute;
    height: auto;
    top: 200px;
    left: 40px;
    background-color: transparent;

    h2 {
      display: none;
    }

    p {
      display: none;
    }
  }

  form {
    display: flex;
    gap: 20px;
    position: relative;
    right: 90px;
    width: 300px;

    input {
      width: 100%;
      position: absolute;
    }
    button {
      display: block;
      position: absolute;
      right: 0;
    }
  }

  .upgrade-section {
    i {
      display: flex;
      text-align: center;
      font-size: 22px;
    }

    .upgrade-btn-group {
      display: flex;
      flex-direction: column;
      align-items: center;

      .upgrade-btn-1 {
        display: flex;
        justify-content: center;
        background-color: $secondary-color;
        color: #fff;
        width: 250px;
        border-radius: 6px;
      }
    }
  }

  .package-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .table-pros {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pros-1 {
    display: flex;
    flex-direction: column;

    i {
      color: green;
      padding: 4px;
      font-size: 14px;
      padding: 5px 8px;
    }
  }
  .airport-dropdown {
    display: flex;
    justify-content: center;
  }
  .airport-dropdown button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    color: #fff;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    padding: 20px;
    margin: 0;
    cursor: pointer;
    i {
      color: #fff;
      font-size: 18px;
    }
    &:hover {
      background-color: darken($color: $secondary-color, $amount: 5%);
    }
  }

  .airport-name {
    display: none;
  }

  .explore-section .explore-img-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
  }

  .footer-content-1 {
    display: none;
  }

  .footer-1 {
    width: 100%;
    height: auto;
  }
  .footer {
    padding: 0;
    margin: 0;
  }
  .footer-dropdown {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    color: #ffffff;
    border: none;
    font-size: 20px;
    margin: 60px 0;
    margin-bottom: 0;
    padding-bottom: 0;
    cursor: pointer;
  }
  .footer-2-1 {
    h1 {
      font-size: 16px;
      padding-bottom: 20px;
    }
    h2 {
      font-size: 12px;
    }
    p {
      white-space: wrap;
      text-align: center;
    }
  }

  .jet-offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    img {
      justify-content: center;
      width: 400px;
      border-radius: 10px;
      margin: 10px 20px;
      padding: 10px;
    }
  }

  .offer-table-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: palegoldenrod;
  }

  .offer-container-1 {
    .view-all-dest {
      display: flex;
      justify-content: center;
      margin: 20px;
    }
  }

  .offer-container-1 .offer-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: green;

    th {
      text-align: left;
      border: none;
      background-color: #f9f9f9;
      color: #444;
      font-size: 20px;
      padding: 8px 10px;
      background-color: red;

      span {
        font-size: 12px;
        white-space: nowrap;
      }
    }
  }

  .footer-2-2 {
    p {
      font-size: 14px;
      padding-bottom: 10px;
      text-align: center;
      white-space: pre-line;

      span {
        font-size: 12px;
        padding-top: 10px;
        white-space: nowrap;
      }
    }
  }
}

/*601px*/

/*768px*/

/*992px*/

/*1200px*/
